#ignore environement files
.env
.DS_Store
data/raw/
data/processed/
.venv/
.vscode/
data/feature_engineered/
setup.py
neows_project.egg-info
__pycache__/
__init__.py
notebooks/mlflow.db
notebooks/mlruns/
notebooks
mlruns/
mlflow.db
setup_project.sh